{% extends 'main.html' %}

{% block content %}

<!--<p>Hello you are on the {{page}} page</p>

 the below code tells us how to write conditions as python code 
{% if number > 10 %}
    <p>number is greater than 10</p>
{% elif number == 10 %}
    <p>number is equal to 10</p>
{% else %}
    <p>number is less than 10 </p>
{% endif %} -->

<h1>Projects</h1>

<hr>

<table>
    <tr>
        <th>Project</th>
        <th>Positive votes</th>
        <th>Votes</th>
        <th></th>
        <th></th>
    </tr>

    {% for project in projects%}
    <tr>
        <td>{{project.title}}</td>
        <td>{{project.vote_ratio}}</td>
        <td>{{project.vote_total}}</td>
        <td>{{project.created}}</td>
        <td><a href="{% url 'project' project.id%}">View</a></td>
        <td><a href="{% url 'update-project' project.id%}">Edit</a></td>
        <td><a href="{% url 'delete-project' project.id%}">Delete</a></td>
    </tr>
    {% endfor %}
</table>


<!-- the below code tells us how to execute loops
<ul>
    {% for project in projects%}
        <li>{{project.title}} : {{project.description}}</li>

         using the below format for href if we change the url pattern we dont have to change the implementation everywhere because we are accessing the url by its name
        <li><a href="{% url 'project' project.id%}">{{project.title}}</a> : {{project.description}}</li>
    {% endfor %}
</ul>-->


{% endblock content %}