{% extends 'main.html' %}
{% block content %}



<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'account' %}"><i class="im im-angle-left"></i></a>
            <br>

            <form class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form%}
                <!-- Input:Text -->
                <div class="form__field">
                    <label for="formInput#text">{{field.label}} </label>
                    <!--we need class below for each field for taking input so what we do is we add the class in the modelform that we created-->
                    {{field}}
                </div>
                {% endfor %}

                <div class="form__field">
                    <label for="formInput#text">Edit Tags</label>
                    {% for tag in project.tags.all %}
                        <div class="project-tag tag tag--pill tag--main">
                            <input type="checkbox" name="tags_to_remove" value="{{ tag.id }}" style="margin-right: 4px;">
                            {{ tag.name }}
                        </div>
                    {% endfor %}
                </div>
                
                <div class="form__field">
                    <label for="formInput#text">Add Tags</label>
                    <textarea name="newtags" class="input" placeholder="Eg - Html, CSS, JS...."></textarea>
                </div>

                
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>
{% endblock %}